@font-face {
  font-family: 'noto';
  src: url('/fonts/noto_sans/NotoSansKR-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('/fonts/roboto/Roboto-Black.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'rajdhani';
  src: url('/fonts/rajdhani/Rajdhani-Medium.ttf') format('truetype');
  font-style: normal;
}
